.navigation {
  display: flex;
  gap: 14px;
  align-items: center;
}

@media (max-width: 879px) {
  .navigation {
    padding-bottom: 90px;
  }
}

@media (max-width: 500px) {
  .navigation {
    padding-bottom: 35px;
  }
}
